body { 
    background-color: rgb(42, 125, 233);
}

h1 { 
    text-align: center;
    padding-top:20px; 
    color:white; 
    font-size:5vw; 
}

p { 
    text-align: center; 
    color:white; 
}
#wordwrapper { 
    display:flex; 
    flex-wrap: wrap;
    width:90%; 
    margin-left:5%; 
    padding-left:5%;
    gap:50px;  
}